/* color: #F9DFDA pale pink
color: #F3B9AE melon
color: #EA806B salmon
color: #65676A granite gray
color: #4F545A davys gray */

body {
  background-color: #F9DFDA;
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
  height: 500px;
}

.navigation {
  height: 70px;
  background: #262626;
  border-bottom: 8px solid #EA806B;
}

.brand {
  position: absolute;
  float: left;
  margin-left: 15px;
  line-height: 70px;
  font-size: 2.4em;
  font-family: 'Playfair Display', serif;
  font-weight: 900;

}
.brand a, .brand a:visited {
  color: #F9DFDA;
  letter-spacing: 1px;
  text-decoration: none;
}
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
  font-family: 'Lato', sans-serif;
}
nav ul li a, nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  color: #F9DFDA;
  text-decoration: none;
}
nav ul li a:hover, nav ul li a:visited:hover {
  background: #EA806B;
  color: #F9DFDA;
}
nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}
@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #F9DFDA;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
article {
  max-width: 1000px;
  padding: 10px;
  margin-left: 15px;
}

.homeBody {
  border-top: 8px solid #F3B9AE;
  text-align: center;
  line-height: 15px;
  padding: 110px;
}

#name {
  font-size: 50px;
  letter-spacing: 2px;
}

#brand{
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2.5px;
  color: #262626;
}

#bi, #contact {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  color: #262626;
}

#viewProject{
  text-decoration: none;
  font-size: 1.15em;
  padding: 20px;
  background-color: #EA806B;
  color: #262626;         
  border-radius: 10px;   
  font-family: 'Playfair Display', serif;    
}

#contactSubmit {
  text-decoration: none;
  font-size: 1.15em;
  padding: 20px 20px 20px 20px;
  background-color: #EA806B;
  color: #262626;         
  border-radius: 10px;   
  font-family: 'Playfair Display', serif;    
}

#bioBody, #contactBody {
  border-top: 8px solid #F3B9AE;
  text-align: center;
  line-height: 15px;
  padding: 20px 215px 0px 215px;
}

#bioTitle, #contactTitle, #projectTitle {
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  padding-bottom: 20px;
  letter-spacing: 1px;
  text-align: center;
}

#bioBrand {
  font-size: 22px;
  line-height: 25px;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  letter-spacing: -.75px;
  text-align: justify;
}

#bioStatement {
  font-size: 18px;
  line-height: 20px;
  text-align: justify;
  font-family: 'Lato', sans-serif;
}

.contactForm {
  display: grid;
  justify-content: center;
  height: 150px;
}

form {
  height: 400px;
}

label {
  font-size: 20px;
  text-align: left;
  padding: 10px;
  display: grid;
  justify-content: left;
  text-align: left;
  width: 200px;
}

input {
  display: inline;
  justify-content: left;
}

input#name, input#email {
  width: 206px;
  height: 30px;
}

textarea {
  justify-content: left;
  width: 200px;
  height: 100px;
} 

#homeImages, #bioPhotos, #projectImages1, #projectImages2  {
  display: flex;
  justify-content: center;
}


.bioPhotos, .projectPhotos {
  height: 225px;
  width: 200px;
  margin: 5px;
  background-color: #EA806B;
  line-height: 10px; 
  text-align: center;
}

.bioInfo {
  border: 1px solid black;
  background-color: #EA806B;
}

.photoTitle {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  letter-spacing: 2.5px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.0rem;
  background-color: #262626;
  color: #F9DFDA;
  text-align: center;
}

.logo {
  position: absolute;
  bottom: 150px;
  width: 100%;
  display: grid;
  margin-top: 100px;
  justify-content: center;

}